@import "tailwindcss";
:root {
    --background: 48 54 79;
    --foreground: 23 23 23;
    --primary: 148 180 193;
    --secondary: 105 111 199;
    --radius-sm: 0.375rem;
    --radius-md: 0.5rem;
    --radius-lg: 0.75rem;
    --space-xs: 0.5rem;
    --space-sm: 0.75rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
}

@media (prefers-color-scheme: dark) {
     :root {
        --background: 10 10 10;
        --foreground: 237 237 237;
    }
}

@theme inline {
    --color-background: rgb(var(--background));
    --color-foreground: rgb(var(--foreground));
    --color-secondary: rgb(var(--secondary));
    --color-primary: rgb(var(--primary));
    /* Border radius */
    --radius-sm: var(--radius-sm);
    --radius-md: var(--radius-md);
    --radius-lg: var(--radius-lg);
    /* Spacing */
    --spacing-xs: var(--space-xs);
    --spacing-sm: var(--space-sm);
    --spacing-md: var(--space-md);
    --spacing-lg: var(--space-lg);
}